$white: #FFFFFF
$black: #000000

$light-green: #5CBF10
$medium-green: #40880A
$dark-green: #2C6305
$light-gray: #ECF0F1
$gray: #AFAEB4
$dark-gray: #697475
$orange: #D35400
$facebook: #3B5998
$red: #e74c3c

$green-gradient: linear-gradient(-133deg, #74BD18 0%, #40880A 100%)
