@keyframes morein
    from
        +opacity(0)
        transform: translateX(100px)
    to
        +opacity(1)
        transform: translateX(0)

@keyframes arrowin
    from
        +opacity(0)
        transform: translateX(-150px)
    to
        +opacity(1)
        transform: translateX(0)

#fields
    background: #FFF
    padding: 4rem 0
    .title
        +font-size(20px)
        font-family: $din-regular
        color: $medium-green
        text-transform: uppercase
    .all
        +font-size(16px)
        font-weight: 300
        color: $medium-green
        float: right
        text-decoration: none
    .fields
        position: relative
        .next
            border: 0
            cursor: pointer
            position: absolute
            top: 0
            right: 0
            bottom: 0
            width: 200px
            background: none
            z-index: 1
            .img
                display: none
                position: absolute
                top: 5.2rem
                right: 4rem
                pointer-events: none
            &:hover
                animation: morein .3s ease-in-out forwards
                background: linear-gradient(-90deg, rgba($white, 1), rgba($white, 0))
                .img
                    animation: arrowin .3s ease-in-out forwards
                    display: block
                    pointer-events: none
        +field
    +bp('max-width: 768px')
        .col-3
            width: 50%
    +bp('max-width: 540px')
        .col-3
            width: 100%
