@keyframes go
	0%
		transform: translateX(0px)
	50%
		transform: translateX(5px)
	100%
		transform: translateX(0px)

#player
    background: url('../img/player-bg.jpg')
    background-position: center center
    background-size: cover
    padding: 4rem 0
    position: relative
    &::before
        position: absolute
        content: ''
        top: 0
        left: 0
        right: 0
        bottom: 0
        background: rgba(0,0,0, 0.5)
        z-index: 2
    .iphone,
    .bullets
        position: relative
        z-index: 3
    .iphone
        position: relative
        text-align: center
        .img
            max-width: 100%
        .glide
            position: absolute
            top: 12.3%
            left: 18%
            width: 63.8%
            height: auto
    .bullets
        list-style: none
        margin: 0 auto
        width: rem(12px)
        margin-top: 10rem
        .bullet
            width: 12px
            height: 12px
            background: rgba($white, .2)
            border: 2px solid $white
            border-radius: 50%
            margin-bottom: .5rem
            &:hover
                cursor: pointer
            &.active
                background: $white
    .content
        color: #FFF
        position: relative
        z-index: 3
        .glide__slide
            & > .title
                +font-size(40px)
                font-family: $din-light
                margin-bottom: 3rem
            .text
                margin-bottom: 3rem
                p
                    +font-size(20px)
                    font-family: $din-light
                    line-height: 1.5
                    margin-bottom: 1.5rem
                    &:last-child
                        margin-bottom: none
            .btn
                +font-size(20px)
                .go
                    animation: go 1s ease-in-out infinite
                    margin-left: .5rem
            .or
                +font-size(24px)
                font-weight: 300
                display: inline-block
                padding: 0 1rem
    +bp('max-width: 1190px')
        .iphone
            .glide
                top: 12.3%
                left: 18%
                width: 64.3%
    +bp('max-width: 1185px')
        .iphone
            .glide
                top: 12.3%
                left: 17.4%
                width: 64.7%
    +bp('max-width: 1100px')
        .iphone
            .glide
                top: 12.3%
                left: 14.9%
                width: 70%
    +bp('max-width: 1024px')
        .iphone
            .glide
                top: 12.3%
                left: 12.3%
                width: 75.7%
    +bp('max-width: 768px')
        .wrapper
            & > .row
                & > .col-4
                    width: 100%
                & > .col-1
                    width: 100%
                    .bullets
                        +clear
                        width: auto
                        margin: 0 auto
                        .bullet
                            float: left
                            margin-right: .6rem
                            &:last-child
                                margin-right: 0
                & > .col-7
                    width: 100%
        .iphone
            .img
                width: 50%
            .glide
                top: 12.3%
                left: 11.1%
                width: 78%
    +bp('max-width: 768px')
        .wrapper
            & > .row
                & > .col-4
                    width: 100%
                & > .col-1
                    width: 100%
                    .bullets
                        +clear
                        width: auto
                        margin: 0 auto
                        .bullet
                            float: left
                            margin-right: .6rem
                            &:last-child
                                margin-right: 0
                & > .col-7
                    width: 100%
        .iphone
            .img
                width: 50%
            .glide
                top: 12.3%
                left: 11.1%
                width: 78%
    +bp('max-width: 920px')
        #player-info
            .or
                display: block
                margin: 1rem 0
