@keyframes topin
    from
        transform: translateY(-100%)
    top
        transform: translateY(0)

#top
    position: absolute
    background: transparent
    width: 100%
    z-index: 99
    top: 0
    left: 0
    .link
        color: $white
        font-family: $din-light
    .logo
        .img
            display: none
    &.scrolled,
    &.white
        animation: topin .3s ease-in-out forwards
        position: fixed
        background: #FFF
        box-shadow: 0 4px 8px 0 rgba($black,.25)
        .link
            color: $light-green
        .logo
            .img
                display: block
            .img-white
                display: none
.toggle-responsive-nav
    display: none
    position: absolute
    top: 50%
    right: 1rem
    background: url('../img/menu.png') no-repeat center center
    width: rem(26px)
    height: rem(20px)
    transform: translateY(-50%)
    z-index: 99
#toggle-responsive-nav
    display: none
#nav
    float: right
    .menu
        +clear
        list-style: none
        .option
            float: left
            margin-right: 2rem
            &:last-child
                margin-right: 0
            &:first-child
                margin-top: 0
            & > .link
                +font-size(16px)
                font-weight: 300
                text-decoration: none
                margin-top: .8rem
                display: inline-block
            .user
                position: relative
                .photo
                    width: rem(36px)
                    height: rem(36px)
                    border-radius: 50%
                    overflow: hidden
                    display: inline-block
                    margin-right: .2rem
                    .img
                        width: 100%
                .down
                    position: relative
                    top: -1rem
                &:hover
                    cursor: pointer
                &.active
                    .user-options
                        display: block
                .user-options
                    display: none
                    list-style: none
                    background: $white
                    box-shadow: 0 2px 8px 0 rgba($black,.15)
                    border-radius: rem(3px)
                    position: absolute
                    top: 100%
                    right: 0
                    z-index: 5
                    white-space: nowrap
                    .user-option
                        transition: all .3s ease-in-out
                        .link
                            +font-size(16px)
                            text-decoration: none
                            display: block
                            padding: .8rem 1.5rem
                        &:hover
                            background: #f8f8f8
                            transition: all .3s ease-in-out
+bp('max-width: 767px')
    #nav
        display: none
        position: fixed
        background: rgba($white, .8)
        top: 0
        right: 0
        width: 95vw
        height: 100vh
        .menu
            clear: none
            width: 100%
            margin-top: 1.5rem
            padding-left: 2rem
            .option
                float: none
                margin-bottom: 1rem
                margin-right: 0
                .link
                    color: $light-green
    .toggle-responsive-nav
        display: block
    #toggle-responsive-nav:checked + #nav
        display: block
